.footer {
  background: #111;
  color: #fff;
  padding: 60px 80px 25px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-logo {
  color: #ff3f6c;
  margin-bottom: 15px;
}

.footer-text {
  color: #bbb;
  line-height: 28px;
}

.footer-heading {
  margin-bottom: 18px;
}

.footer-link {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-item {
  color: #bbb;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 18px;
  font-size: 22px;
  color: #ff3f6c;
  margin-top: 20px;
  cursor: pointer;
}

.footer-hr {
  margin: 40px 0 20px;
  border: 1px solid #333;
}

.footer-copy {
  text-align: center;
  color: #888;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px 20px;
  }


}